/* App.css */
.App {
    font-family: 'Sua fonte aqui', sans-serif;
    background-color: #F7FAFF;
}

.category-container {
    display: flex; /* Mantém todos os botões em linha */
    flex-wrap: nowrap; /* Evita que os botões sejam empilhados verticalmente */
    padding: 20px;
    overflow-x: auto; /* Adiciona rolagem horizontal quando necessário */

    -webkit-overflow-scrolling: touch; /* Permite rolagem inercial em dispositivos tácteis */
}


.div-inputs {
    width: 50%; /* 70% da largura do pai */
}



/* Header.css */
.app-header {
    text-align: center;
    height: 200px;
    background-color: #EDECEC;
    margin-top: 30px;
    margin-left:30px;
    margin-right: 30px;
    border-radius: 30px;
    display: flex;


}
/* Adicione isso ao seu CSS */
.ajuste-imagem {
    width: 100%; /* Faz a imagem expandir para cobrir a largura do contêiner */
    height: 100%; /* Faz a imagem expandir para cobrir a altura do contêiner */
    object-fit: fill; /* Mantém as proporções e cobre todo o espaço disponível, cortando o excesso */
}
/* Estilos para input que parece com h1 */
/* Estilos para textarea que parece com h1 */
.input-h1 {
    margin-top:40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    margin-left: 10px;
    background-color: transparent;
    resize: none; /* Impede que o usuário redimensione o campo */
    overflow: hidden; /* Adiciona barras de rolagem quando o texto exceder a área */
}
.input-h1-store-modal {
    margin-top:40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 10px;
    background-color: transparent;
    resize: none; /* Impede que o usuário redimensione o campo */
    overflow: hidden; /* Adiciona barras de rolagem quando o texto exceder a área */
}

.input-h1-modal {
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    background-color: transparent;
    resize: none; /* Impede que o usuário redimensione o campo */
    overflow: hidden; /* Adiciona barras de rolagem quando o texto exceder a área */
}

.input-modal {
    margin-bottom:15px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    background-color: transparent;
    resize: none; /* Impede que o usuário redimensione o campo */
    overflow: hidden; /* Adiciona barras de rolagem quando o texto exceder a área */
}

/* Estilos para textarea que parece com p */
.input-p {
    margin-left: 10px;
    font-size: 10px;
    height: 70px;
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    resize: none;
    color: #8E8585;
}

.close-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.5);
}

.close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.input-p-modal-description {
    font-size: 15px;
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    overflow: hidden; /* Previne a barra de rolagem */
    resize: vertical; /* Permite que o usuário ajuste a altura se necessário */
    color: black;
    padding: 10px; /* Adiciona algum espaçamento interno */
}

.input-select-modal{
    font-size: 15px;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    resize: none;
    color: black;
}
.input-p-modal-value {
    font-size: 15px;
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    resize: none;
    color: black;
    margin-bottom: 20px;
}

.container-imagem {
    width: 50%; /* 30% da largura do pai */
    height: 200px; /* ou qualquer altura que você deseja */
    overflow: hidden; /* Isso impede que a imagem exceda a div */
    border-radius: 30px;


}
.logo {
    width: 50px; /* Ajuste conforme o tamanho do seu logo */
}
.add-category-button-container {
    display: flex; /* Define o container como um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Certifique-se de que o container tenha altura definida */

}

.add-category-button {
    background-color: #D9D9D9;
    color: black;
    border: none;
    width: 22px; /* Garante que os botões não fiquem muito estreitos */
    white-space: nowrap;
    height: 22px;
    margin: 5px;
    border-radius: 100%;
    transition: background-color 0.3s, color 0.3s;

    display: flex; /* Usa flexbox para centralizar o texto */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

/* CategoryButton.css */
.category-button {
    background-color: #D9D9D9;
    color: black;
    border: none;
    padding: 10px 25px; /* Aumente o padding horizontal conforme necessário */
    height: 22px;
    min-width: 200px; /* Ajuste conforme necessário */

    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    display: flex; /* Usa flexbox para centralizar o texto */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}


/* Muda a cor de fundo e do texto quando o mouse passa por cima */
.category-button:hover {
    background-color: #40475E; /* Nova cor de fundo */
    color: #FFFFFF; /* Nova cor do texto */
}

/* Muda a cor de fundo e do texto quando o botão está sendo clicado */
.category-button:active {
    background-color: #40475E; /* Mantém a cor de fundo do hover */
    color: #FFFFFF; /* Mantém a cor do texto do hover */
}

.manager {
    max-width: 100vw; /* 100% da largura da viewport */
    overflow-x: hidden; /* Esconde qualquer overflow horizontal */
}
.product-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens passem para a próxima linha quando não há espaço suficiente */
    justify-content: space-evenly; /* Centraliza os cartões quando não ocupam toda a largura */

    /*align-items: flex-start;*/ /* Alinha itens ao topo */
    gap: 20px; /* Espaçamento entre os cartões */
}


.product-card {
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    object-fit: cover; /* Mantém as proporções e cobre todo o espaço disponível, cortando o excesso */

    width: 40%; /* Define a largura para 50% menos a metade do espaçamento, assim dois cartões cabem lado a lado com um espaçamento uniforme */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card-empty {
    background-color: #F7FAFF;
    padding: 10px 10px;
    border-radius: 20px;
    object-fit: cover; /* Mantém as proporções e cobre todo o espaço disponível, cortando o excesso */

    width: 40%; /* Define a largura para 50% menos a metade do espaçamento, assim dois cartões cabem lado a lado com um espaçamento uniforme */
}
.add-product-card {
    display: flex; /* Define o contêiner como um flex container */
    flex-direction: column; /* Empilha os itens verticalmente */
    justify-content: center; /* Centraliza o conteúdo ao longo do eixo principal (vertical) */
    align-items: center; /* Centraliza o conteúdo ao longo do eixo cruzado (horizontal) */
    text-align: center; /* Assegura que o texto dentro dos itens também esteja centralizado */
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%; /* Ajuste conforme necessário */
}
.add-product-card:hover {
    background-color: lightgrey; /* Define a cor de fundo para cinza claro quando o mouse está sobre */
    transition: background-color 0.3s; /* Adiciona um efeito de transição suave */
}

.add-product-card-text-title {
   font-size: 30px;
}
.add-product-card-text-subtitle {
    font-size: 25px;
}
.product-image {
    width: 100%; /* Ajuste conforme o tamanho das imagens dos produtos */
    border-radius: 20px;
}

.price {
    color: green;
    font-weight: bold;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 75%;
}

